<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <title><%= presentation_title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1274, user-scalable=no">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="themes/ribbon/styles/style.css">
  <link rel="stylesheet" href="stylesheets/site.css">
</head>
<body class="list">
  <%= yield %>
  <!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
  <div class="progress"><div></div></div>
  <div class="hud">
    <div id="waitingIndicator">
      <div id="waitingSpinner"></div>
    </div>
    <div id="hud">
      <div id="hudBackground">
        <div id="hudBezelLeftEndCap" class="hudBezel"></div>
        <div id="hudBezelFiller" class="hudBezel"></div>
        <div id="hudBezelRightEndCap" class="hudBezel"></div><img id="hudBezelRightDivider" class="hudBezel" name="hudBezelRightDivider">
      </div>
      <div id="hudPreviousButton" class="hudPreviousButtonEnabled"></div>
      <div id="hudSlideCounterSection" class="hudSlideCounter">
        <span id="hudSlideCounter">Slide 1 / 20</span>
      </div>
      <div id="hudNextButton" class="hudNextButtonEnabled"></div>
      <div id="hudCloseButton" class="hudCloseButtonEnabled"></div>
    </div>

  </div>
  <script src="javascripts/script.js"></script>
  <!-- Copyright © 2010–2011 Vadim Makeev, http://pepelsbey.net/ -->
</body>
</html>